<ion-header>
  <ion-toolbar>
    <ion-title>Welcome to Our Task Manager Application</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <div class="image-container">
    <img src="assets/img/bg-img.jpg" alt="Product Image" class="big-image" />
  </div>

  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Start Your Journey</ion-title>
    </ion-toolbar>
  </ion-header>

  <div id="container">
    <ion-button expand="full" color="primary" (click)="goToRegisterPage()">Register with Us</ion-button>
  </div>
</ion-content>
